.FilterBar {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
<<<<<<< HEAD
  background-color:#504545;
  width: 200px;
  display: grid;
=======

  width: 200px;
  display: grid;


  /* height: calc(100vh - 55px);; */
>>>>>>> d4087a4517fda525b0f8f36ea7e669c194459746
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  text-align: left;
  grid-area: filterbar;
  -ms-align-items: start;
  align-content: start;
  justify-content: start;
  grid-row-gap: 30px;
<<<<<<< HEAD

-webkit-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.34);
-moz-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.34);
box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.34);
=======
>>>>>>> d4087a4517fda525b0f8f36ea7e669c194459746

}

.category-selector, .status-selector {
  display: grid;
  -ms-grid-template-columns: auto;
  grid-template-columns: auto;
  grid-template-rows: auto;
<<<<<<< HEAD
  background-color: rgba(255,255,255,0.8);
  border-radius: 5px;
  padding: 20px;
=======
  background-color: rgba(20,20,20,0.08);
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 4px 4px 6px 0px rgba(94,0,8,0.9);
  -moz-box-shadow: 4px 4px 6px 0px rgba(94,0,8,0.9);
  box-shadow: 4px 4px 6px 0px rgba(94,0,8,0.9);
>>>>>>> d4087a4517fda525b0f8f36ea7e669c194459746
}
