.Header h1 {
  color: #151515;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #101010;

}

h1 {

  margin: 0;
  padding: 10px 20px;
  text-align: left;
  font-size: 1.5rem;
  background: linear-gradient(#ff091d, #e60013);
  font-weight: bolder;
}

.Header {

  top: 0;
  left: 0;
  width: 100vw;
  z-index: 3;
  -ms-grid-area: header;
  grid-area: header;

}
