.Header h1 {
  color: rgb(240,240,240);
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #101010;

}

h1 {

  margin: 0;
  padding: 15px 20px;
  text-align: left;
  font-size: 1.5rem;
  background: #E60013;
  font-weight: bolder;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 3;

}
